body{
    background-size:cover;
    background-image: url("../images/background.jpg")
}

.modal-title{
    font-size:50px;
    font-family: 'Cinzel', serif;
    text-align: center;

}
.body-instruction, .section-title{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;

}
.section-title{
    font-weight: bold;
    font-family: 'Cinzel',serif;
}
.heroes{
    right:auto;

}
.villains{
    left:auto;
}
.selectPlayer{
    position: fixed;
    top: 80%;
    left:0;
    font-weight: bold;
    font-family: 'Cinzel',serif;
}
.selectVillains{
    position: fixed;
    top: 80%;
    right:0;
    font-weight: bold;
    font-family: 'Cinzel',serif;
}
#start{
    font-weight: bold;
    font-family: 'Cinzel',serif;
}
.btn-col{
    position:fixed;
    top:70%;
}
.levelsHolder{
    position:fixed;
    top:10%;

}
#levels{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-weight: bold;
    font-family: 'Cinzel',serif;
}